<launch>
  <arg name="controller_config" default="$(find scout)/config/controller.json"/>
  <arg name="joystick_config" default="$(find scout)/config/joystick.json"/>

  <node pkg="scout" type="joystick_node" name="scout_joystick" output="screen">
    <param name="joystick_config" value="$(arg joystick_config)" />
    <param name="joystick_profile" value="JetsonDualShock4" />
    <param name="car_control_topic" value="/car/control" />
  </node>

  <node pkg="scout" type="controller_node" name="scout_controller" output="screen">
    <param name="controller_config" value="$(arg controller_config)" />
    <param name="car_control_topic" value="/car/control" />
  </node>

  <node name="ds4_joystick" pkg="joy" type="joy_node">
    <param name="dev" value="/dev/input/js0" />
  </node>
</launch>

